# ambiente virtual
venv/

# diretórios e arquivos de dados
dados*/
data*/
*ipynb

# arquivos de cache do python
*.pyc
__pycache__/

# instancia do banco de dados
instance/

# cache e processante de extensoes
.pytest_cache/
.coverage
htmlcov/

# arquivos de instalação do pacote
dist/
build/
*.egg-info/

# arquivo de automatização
Makefile

# arquivos de variaveis de ambiente
.env
*/.flaskenv
settings.toml

*/Todo

# Ignore dynaconf secret files
.secrets.*
